@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    border: 0;
    font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;
}
.navcontainer {
    margin: 0;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
}

i {
    text-decoration: none;
}
.nav {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
}
.fa-school {
    padding-right: 1em;
}
.inicio {
    display: flex;
    padding-right: 1em;
}
.nav_hamburguer {
    text-decoration: none;
    color: white;
}
.nav_link {
    display: none;
    text-decoration: none;
}
header {
    padding: 1em;
    grid-area: menu;
    background: #4C688B;
    color: white;
    height: 200hv;

}

.nav_item a:hover {
    color: #051B38;
}
main {
    grid-area: seccion-principal;
    padding: 0;
    border: 0;
}

.filtros {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: #6FA698;
}
.productos {
    padding: 1em;
}
.card img {
    max-width: 60%;
    padding: 1em;
    transition: transform 0.5s;
}

.card img:hover {
    transform: scale(1.1);
}
.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #c9c9c9;
    border-style: groove;
    border-radius: 5px;
    margin: 1em;

}

.card-content {
    text-align: center;
    color: black;
}

.card-footer {
    text-align: center;
    color: white;
    padding: 1em;
}

button {
    background-color: #0E5342;
    color: white;
    border-radius: 2px;
    height: 40px;
    transition: background-color 0.5s linear;
}

button:hover {
    background-color: #051B38;
}
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
.footer-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}
footer {
    grid-area: pie-de-pagina;
    background: #051B38;
    color: white;
    padding: 10px;
    text-align: center;
}
.footer-pie {
    display: flex;
    justify-content: center;

}

.footer-pie i {
    padding: 0.5em;
    font-size: 20px;
}
.container {
    display: grid;
    grid-template-rows: auto 10fr auto;
    grid-template-areas:
        "menu"
        "seccion-principal"
        "pie-de-pagina";
}



@media (min-width: 576px) {
    .container {
        grid-template-areas:
            "menu seccion-principal"
            "menu seccion-principal"
            "pie-de-pagina seccion-principal";
        grid-template-columns: auto 1fr;
    }

.productos {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    gap: 10px;
    padding: 1em;
}

.nav_link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 10%;
    padding-left: 5%;
    max-width: fit-content;
}
.nav_item {
    list-style: none;
}
.nav_item a {
    text-decoration: none;
    color: white;
}
.nav_hamburguer {
    display: none;
}
}